/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --noir: #000000;
  --blanc: #ffffff;
  --outfit: "Outfit", sans-serif;
  --urbanist: "Urbanist", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  height: 2000px;
}

header {
  width: 100vw;
  height: 100vh;
  padding-top: 1px;
  background-image: url(../img/img_arriere_plan/aplan_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.titre1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 8vw;
  color: var(--blanc);
  font-family: var(--outfit);
}

.desc1 {
  width: 50vw;
  margin: auto;
  margin-top: 2vw;
  text-align: center;
  font-size: 12px;
  color: var(--blanc);
  font-family: var(--urbanist);
}

.cta {
  width: 10vw;
  position: absolute;
  bottom: 0;
  left: 45vw;
}

.spriteTest {
  width: 100%;
  background-image: url("../img/img_elements_visuels/spirale.png");
}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/ 

#ch1 {
  width: 100vw;
  height: 100vw;
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/ 

#ch2 {
  width: 100vw;
  height: 100vw;
  background-image: url(../img/img_);
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/ 

#ch3 {
  width: 100vw;
  height: 100vw;
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/ 

#ch4 {
  width: 100vw;
  height: 100vw;
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/ 

#ch5 {
  width: 100vw;
  height: 100vw;
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/ 

#ch6 {
  width: 100vw;
  height: 100vw;
  border-style: solid;
  border-width: 3px;
  border-color: red;
}
