@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --noir: #000000;
  --blanc: #ffffff;
  --outfit: "Outfit", sans-serif;
  --urbanist: "Urbanist", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/img_arriere_plan/aplan_1.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}

.titre1 {
  margin: 25px;
  text-align: center;
  font-size: 10vw;
  color: var(--blanc);
  font-family: var(--outfit);
}

.desc1 {
    margin: 25px;
    text-align: center;
    font-size: 15px;
    color: var(--blanc);
    font-family: var(--urbanist);
}

.cta {
  width: 10vw;
  position: absolute;
  bottom: 0;
  left: 45vw;
}